<head>
    {% include meta.html %}
    <title>{{site.title}}</title>
    <link rel="stylesheet" href="{% if site.baseurl %}{{site.baseurl}}{% else %}{% endif %}/assets/css/style.css">
    <script src="https://kit.fontawesome.com/b14110af1c.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="https://images.weserv.nl/?url={{site.author-image}}&h=300&w=300&fit=cover&mask=circle&maxage=7d" onError="this.onerror=null;this.src='https://images.weserv.nl/?url=https://github.com/harsh98trivedi/harsh98trivedi.github.io/blob/ecc25a0de6cd4f6c2ea348424e251e059bc6eb6b/assets/images/logo.png?raw=true&h=300&w=300&fit=cover&mask=circle&maxage=7d" type="image/x-icon';" type="image/x-icon">
</head>