<!-- Include Meta Tags Here -->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1 user-scalable=no, shrink-to-fit=no">
<meta content='#000000' name='theme-color'/>
<meta name="keywords" content="{{site.site-keywords}}">
<title>{{site.title}}{% if page.title %} | {{page.title}}{% endif %}</title>

<!-- Open Graph general (Facebook, Pinterest & Google+) -->
<meta name="og:title" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
<meta name="og:description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
<meta name="og:image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
<meta name="og:image:alt" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
<meta name="og:url" content="{{site.url}}{{site.baseurl}}{{page.url}}">
<meta name="article:author" content="https://www.facebook.com/{{site.facebook_username}}">
<meta name="og:site_name" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
<meta name="og:type" content="website">
<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image"/>
<meta name="twitter:title" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
<meta name="twitter:description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
<meta name="twitter:site" content="@{{site.twitter_username}}">
<meta name="twitter:creator" content="@{{site.twitter_username}}">
<meta name="twitter:image:src" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
<!-- Search Engine -->
<meta name="description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
<meta name="image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">
<!-- Schema.org for Google -->
<meta itemprop="name" content="{{site.title}}{% if page.title %} | {{page.title}}{% endif %}">
<meta name="author" content="{{site.author-name}}"/>
<meta itemprop="description" content="{% unless page.layout == 'post' %}{{site.description}}{% else %}{{page.description}}{% endunless %}">
<meta itemprop="image" content="{% unless page.layout == 'post' %}{{site.site-image}}{% else %}{{page.post-image}}{% endunless %}">

<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-45C37D3GB5"></script>
<meta name="google-adsense-account" content="ca-pub-2852964600622086">
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{site.google-analytics}}');
</script>

<script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
        dataLayer.push(arguments);
    }
    gtag('js', new Date());

    gtag('config', '{{site.google-analytics}}');
</script>

<!-- Messenger Chat Plugin Code -->
<div id="fb-root"></div>

<!-- Your Chat Plugin code -->
<div id="fb-customer-chat" class="fb-customerchat">
</div>

<script>
  var chatbox = document.getElementById('fb-customer-chat');
  chatbox.setAttribute("page_id", "245221532650178");
  chatbox.setAttribute("attribution", "biz_inbox");
</script>

<!-- Your SDK code -->
<script>
  window.fbAsyncInit = function() {
    FB.init({
      xfbml            : true,
      version          : 'v12.0'
    });
  };

  (function(d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) return;
    js = d.createElement(s); js.id = id;
    js.src = 'https://connect.facebook.net/en_US/sdk/xfbml.customerchat.js';
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>