---
# compress.html
---
{% capture _content %}
{{ content }}
{% endcapture %}
{% assign _content = _content | replace: '<!--', '<!--' %}
{% assign _content = _content | split: '<!--' %}
{% capture _new_content %}{% endcapture %}
{% for _element in _content %}
  {% assign _comment = _element | split: '-->' | first %}
  {% if _comment.size != _element.size %}
      {% assign _stripped = _element | remove_first: _comment | remove_first: '-->' %}
      {% assign _new_content = _new_content | append: _stripped %}
  {% else %}
      {% assign _new_content = _new_content | append: _element %}
  {% endif %}
{% endfor %}
{% assign _content = _new_content %}
{% assign _lines = _content | split: '
' %}
{% capture _new_content %}{% endcapture %}
{% for _line in _lines %}
    {% assign _trimmed = _line | strip %}
    {% if _trimmed != '' %}
        {% assign _new_content = _new_content | append: _trimmed | append: '
' %}
    {% endif %}
{% endfor %}
{{ _new_content }}
